<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Workshops</title>
</head>
</head>
<body>
Insertar nueva categoría:
<form action="#" th:action="@{/insertarCategoria}" th:object="${categoria}" method="post">
    
    <label for="nombre">Nombre</label>
    <input type="text" th:field="*{nombre}" id="nombre">
    
    <label for="descripcion">Descripcion</label>
    <input type="text" th:field="*{objetivo}" id="descripcion">
   
    <input type="submit" value="Add categoria">   
</form>

</body>
</html>